
page {
  background: #fff;
}

.tab-scroll {
  width: 100%;
  background: url(https://c.jiangwenqiang.com/lqsy/3.png) ;
  padding: 10rpx 0;
}
.tab-inside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tab-item {
  flex: 0 0 25%;
  text-align: center;
  padding-bottom: 10rpx;
  &:before {
    content: '';
    position: absolute;
    bottom: 0rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 4rpx;
    background-color: transparent;
  }
}
.active {
  color: #f30;
  &:before {
    background-color: #f00;
  }
}

.comment {
  background-color: #fff;
  .commentTop {

  }
  .commentItem {
    display: flex;
    align-items: flex-start;
    padding: 14rpx 41rpx 31rpx 45rpx;
  }
  .ciImg {
    width: 95rpx;
    height: 95rpx;
    margin-right: 20rpx;
  }
  .ciRight {
    display: flex;
    flex-direction: column;
    .ciReply {
      background-color: #e5e5e5;
    }
  }
  .replyImg {
    width: 109rpx;
    height: 112rpx;
  }
  .ciBottom {
    display: flex;
    align-items: center;
    .jwqpinglun {
      margin-right: 30rpx;
    }
  }
  .unfollow {
    width: 146rpx;
    height: 55rpx;
    border-radius: 25rpx;
    border: solid 2rpx #b28850;
    color: #b28850;
    line-height: 50rpx;
  }
  .follow {
    background: #dcdcdc;
    border: solid 2rpx #dcdcdc;
    color: #646464;
  }
}

